html, body, canvas, div, span, label, select, option, input {
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	border: none;
	background: none;
	outline: none;
}

canvas {
	background: black;
}

#button {
	display: block;
	position: absolute;
	top: 20px;
	left: 0;
	width: 100px;
	height: auto;
	color: white;
	padding: 5px 7px;
	border: 1px solid white;
	cursor: pointer;
}

#close-button {
	position: relative;
    top: 0;
    left: 0;
    margin-left: 0;
    margin-top: 20px;
    width: 95px;
    height: auto;
    color: white;
    padding: 5px 8px;
	border: 1px solid white;
	cursor: pointer;
}

#panel {
	display: none;
	position: absolute;
	top: 20px;
	left: 0;
	width: 250px;
	height: auto;
	padding: 20px 30px;
	border: 1px solid white;
	transition: all .5s;
	animation: searchOpen .2s;
    animation-delay: .3s;
    animation-fill-mode: backwards;
}

span {
	display: flex;
	margin: 12px auto;
	border: 1px solid rgb(61, 61, 61);
}

label {
	position: relative;
	top: 0;
	left: 0;
	width: 90px;
	height: auto;
	padding: 5px 10px;
	background: rgb(54, 54, 54);
	color: white;
}


select {
	position: relative;
	top: 0;
	left: 20px;
	width: 120px;
	height: auto;
	color: white;
	padding: 5px 7px;
	background: rgb(202, 202, 202);
	color: black;
	cursor: pointer;
}


input {
	position: relative;
	top: 0;
	left: 20px;
	width: 120px;
	height: auto;
	-webkit-appearance: none; 
	background: rgb(89, 146, 211);
	/* -webkit-transition: .2s;
	transition: opacity .2s; */
	cursor: pointer;
}


