html, body, canvas {
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

#canvas1 {
	background: black;
}

#canvas2 {
	background: grey;
}

#select-canvas {
	position: absolute;
	top: 50px;
	left: 30px;
	width: 100px;
	height: 30px;
}

#select-shape {
	position: absolute;
	top: 100px;
	left: 30px;
	width: 100px;
	height: 30px;
}