html, body, canvas {
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

#canvas {
	background: black;
}

.select {
	width: 100px;
	height: 30px;
}

#shape {
	position: absolute;
	top: 50px;
	left: 30px;
	border: none;
	background: rgb(202, 202, 202);
	color: black
}