html, body, canvas, div, label, select, option, input, p {
	padding: 0px;
	margin: 0px;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	border: none;
	background: none;
	outline: none;
}

canvas {
	background: black;
	overflow: hidden;
}

#button {
	display: block;
	position: absolute;
	top: 20px;
	left: 0;
	width: 100px;
	height: auto;
	color: white;
	padding: 5px 7px;
	border: 1px solid white;
	cursor: pointer;
}

#close-button {
	position: relative;
    top: 0;
    left: 0;
    margin: 20px 0;
    width: 95px;
    height: auto;
    color: white;
    padding: 5px 8px;
	border: 1px solid white;
	cursor: pointer;
}

#panel {
	display: none;
	position: absolute;
	top: 20px;
	left: 0;
	width: 250px;
	height: auto;
	padding: 20px 30px;
	border: 1px solid white;
	z-index: 200px;
}

#modal {
	display: none;
	width: 100%;
	height: 100%;
	z-index: 100px;
	background: black;
	opacity: 0.5;
}

div.container {
	display: flex;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 30px;
	margin: 13px auto;
	/* border: 1px solid rgb(61, 61, 61); */
}

div.second-container {
	display: block;
    position: relative;
    top: 0;
    left: 20px;
    width: 120px;
}

label {
	width: 90px;
	height: 20px;
	padding: 5px 10px 3px 10px;
	background: rgb(54, 54, 54);
	color: white;
}

select {
	width: 100%;
	color: white;
	padding: 5px 7px;
	background: rgb(202, 202, 202);
	color: black;
	cursor: pointer;
}

input.slider  {
	width: 100%;
	height: 90%;
	-webkit-appearance: none; 
	background: rgb(89, 146, 211);
	cursor: pointer;
}

input.color {
	position: relative;
    top: -4px;
    left: -2px;
    right: 0;
    width: 124px;
    height: 35px;
    overflow: hidden;
}

/* input.text {
	position: relative;
	top: 0;
	left: 20px;
	width: 120px;
	height: auto;
	color: white;
	padding: 5px 7px;
	background: rgb(202, 202, 202);
	color: black;
} */



